# for Racket
compiled/
*~

# for Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
xenomorph/doc/*
xenomorph/scribblings/*.css
xenomorph/scribblings/*.js
xenomorph/scribblings/*.html
pdfkit/
ptest/test*rkt.pdf
pitfall/data/*.rktd
ptest/out.bin
